{% extends 'layout-main.html.twig' %}
{% block title %}{{ title }} - First Symfony{% endblock %}

{% block content %}
	<div id="userlist">
		<div id="page-title">
			<div class="icon">
				{% include '_partials/icons/users.svg.twig' %}
			</div>
			<h2>{{ title }}</h2>
		</div>

		<table class="table table-responsive">
			<thead>
			<tr>
				<th>#</th>
				<th>username</th>
				<th>email</th>
				<th>vorname</th>
				<th>nachname</th>
				<th>aktiv</th>
				<th>aktionen</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<td colspan="6">[:: paginator ::]</td>
				<td>
					<a href="{{ path('user_add') }}">
					<button class="btn btn-success btn-add" id="btn-add">
						{% include '_partials/icons/add.svg.twig' %}
					</button></a>
				</td>
			</tr>
			</tfoot>
			<tbody>
			{% for user in users %}
				<tr id="user-{{ user.id }}">
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>
							{% if (user.isEnabled) %}
							<input title="" type="checkbox" id="userIsEnabled"
							       data-toggle="toggle" data-height="26" data-onstyle="success" data-offstyle="danger" data-on="akitv" data-off="inaktiv"
							       checked>
							{% else %}
							<input title="" type="checkbox" id="userIsEnabled"
							       data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="akitv" data-off="inaktiv">
							{% endif %}
					</td>
					<td>
						<a href="{{ path('user_edit', {'userId': user.id}) }}">
							<button class="btn btn-default btn-edit" id="btn-edt_{{ user.id }}" data-uid="{{ user.id }}" title="bearbeiten">
								{% include '_partials/icons/edit.svg.twig' %}
							</button></a>
						<button class="btn btn-danger btn-delete" id="btn-del_{{ user.id }}"
						        data-uid="{{ user.id }}" data-path="{{ path('user_delete', {'userId': user.id}) }}">
							{% include'_partials/icons/delete.svg.twig' %}
						</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
