{% extends 'main.layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{%  block content %}
	<h2>{{ title }}</h2>

	<table class="table table-responsive">
		<thead>
			<tr>
				<th>#</th>
				<th>username</th>
				<th>email</th>
				<th>vorname</th>
				<th>nachname</th>
				<th>aktionen</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="6">[:: paginator ::]</td>
			</tr>
		</tfoot>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>
					<img src="{{ asset('ico/16x16/pencil.png') }}" id="edit_{{ user.id }}" data-uid="{{ user.id }}"
					     alt="pencil icon" title="bearbeiten" aria-label="Datensatz bearbeiten">
					<img src="{{ asset('ico/16x16/delete.png') }}" id="delete_{{ user.id }}" data-uid="{{ user.id }}"
					     alt="delete icon" title="löschen" aria-label="Datensatz löschen">
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

